@unocss;

:root {
  --root-padding-top: env(safe-area-inset-top, 0px);
  --root-padding-bottom: env(safe-area-inset-bottom, 0px);
  --root-padding-left: env(safe-area-inset-left, 0px);
  --root-padding-right: env(safe-area-inset-right, 0px);
  --root-padding: var(--root-padding-top) var(--root-padding-right)
    var(--root-padding-bottom) var(--root-padding-left);
}

#app {
  touch-action: pan-x pan-y;
  padding: var(--root-padding);
  height: 100dvh;
  width: 100dvw;
  overflow: auto;
  user-select: auto;
}
@media (max-width: 768px) {
  #app {
    user-select: none;
  }
}

#app:has(.mobile-chessboard) {
  padding: 0;
}

form {
  input[data-dirty]:invalid {
    background-color: #fee2e2;
  }
}

.bottom-opacity-gradient {
  mask-image: linear-gradient(0deg, transparent 16px, red 66px);
}

dialog {
  display: unset;
  inset: 0;
  transition:
    opacity 0.2s ease-out,
    transform 0.2s ease-out;
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
  transform: scale(0.5);
}

dialog[open] {
  transform: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.deck-ul-scrollbar {
  --scrollbar-width: 8px;
  --scrollbar-track: transparent;
  --scrollbar-thumb: #F0F0F0;
  --scrollbar-thumb-hover: #808080;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

.deck-ul-scrollbar::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

.deck-ul-scrollbar::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

.deck-ul-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
}

.deck-ul-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}
